[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
fastapi = "*"
uvicorn = "*"
email-validator = "*"
ujson = "*"
requests = "*"
aiofiles = "*"
jinja2 = "*"
python-multipart = "*"
graphene = "*"
pyyaml = "*"
pyjwt = "*"
passlib = "*"

[requires]
python_version = "3.7"
